
{{if hero_image }}
    {{hero_image}}
    <div class="relative z-10 overflow-hidden bg-[#000]">
    {{ partial:components/_hero-image class="w-full"}}
    {{ /hero_image}}
        <div class="absolute inset-0 z-50 flex items-center justify-center text-white">
            <div class="max-w-4xl text-center space-y-4">
                <p class="uppercase text-semibold tracking-wider">{{ hero_subtitle}}</p>
                {{ partial:typography/h1 color="text-white" :content="hero_title" }}

                <div>
                    {{ partial:typography/p color="text-white" class="text-xl font-medium " :content="hero_intro" }}
                </div>
                {{if hero_image }}
                {{ partial:components/button inverted="true" class="" }}
                {{ /if }}
            </div>
        </div>
    </div>
    {{ share_links }}
{{ /if }}