{{#
    @name Header
    @desc The sites header rendered on each page.
#}}

<!-- /layout/_header.antlers.html -->
<div class="bg-[#0b3025] relative z-[100]">
<header class="fluid-grid py-4">
    <div class="span-content flex justify-between items-center gap-6">
        {{# Make partials you want to use for the header or use and edit premade examples like the following ones. #}}
        {{ partial:components/logo width="120" class="text-[#d2fe83]"}}
        {{ partial:navigation/main }}
    </div>
</header>
</div>
<!-- End: /layout/_header.antlers.html -->
