{{#
    @name Main desktop navigation
    @desc The sites main desktop navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity.
#}}

<!-- /navigation/_main_desktop.antlers.html -->
<nav class="hidden md:block flex-1 relative z-50" aria-label="{{ trans:strings.main_navigation }}">
    <ul class="flex items-center space-x-6">
        {{ nav:main max_depth="2" include_home="true" select="title|url" }}
            <li
                {{ if children }}
                    x-data="{ subnavOpen: false }"
                    @mouseleave="subnavOpen = false"
                    @keyup.escape.stop.prevent="subnavOpen = false"
                    @focusin.window="!$refs.subnav.contains($event.target) && (subnavOpen = false)"
                {{ /if }}
                class="relative leading-none"
            >
                <a
                    class="
                        py-2 px-1 -m-1 flex items-center font-bold uppercase tracking-wide text-xs hover:text-[#d2fe83] focus:outline-none focus-visible:ring-2 ring-primary border-b-2 border-transparent
                        {{ is_current || is_parent
                            ? 'text-[#d2fe83] border-[#d2fe83]'
                            : 'text-white' }}
                    "
                    {{ if children }}
                    href="{{ url }}"
                    @mouseover="subnavOpen = true"
                    :aria-label="subnavOpen
                        ? '{{ trans:strings.subnav_close }}'
                        : '{{ trans:strings.subnav_open }}'"
                    :aria-expanded="subnavOpen"
                    {{ else }}
                        href="{{ url }}"
                    {{ /if }}
                >
                    {{ title }}
                    {{ if children }}
                        <div :class="{ 'scale-y-[-1]': subnavOpen }" 
                    
                        class="motion-safe:transition-transform">
                            {{ svg:chevron_down class="w-2 ml-1 overflow-visible stroke-current text-current" aria-hidden="true" sanitize="true" }}
                        </div>
                    {{ /if }}
                </a>
                {{ if children }}
                    <ul
                        x-show="subnavOpen"
                        x-ref="subnav"
                        class="absolute left-0 -ml-3 py-2 px-3 bg-white border border-neutral/10 rounded shadow"
                        @click.outside="subnavOpen = false"
                        x-transition
                        x-cloak
                    >
                        {{ children }}
                            <li class="">
                                <a
                                    class="
                                        whitespace-nowrap py-2 px-1 -mx-1 block text-xs font-bold hover:text-primary focus:outline-none focus-visible:ring-2 ring-primary
                                        {{ is_current || is_parent
                                            ? 'text-primary'
                                            : 'text-neutral' }}
                                    "
                                    href="{{ url }}"
                                >
                                    {{ title }}
                                </a>
                            </li>
                        {{ /children }}
                    </ul>
                {{ /if }}
            </li>
        {{ /nav:main }}
        <li class="!ml-auto">
            {{ partial:components/button :inverted="inverted" class="uppercase text-xs" link_type="url" target_blank="true" label="Donate" url="https://cafdonate.cafonline.org/18201#!/DonationDetails"}}
        </li>
    </ul>
</nav>
<!-- End: /navigation/_main_desktop.antlers.html -->
