/* If you don't want to use the JS in CSS syntax from `tailwind.config.site.js` you can add your own custom CSS here. Use different layers to make sure your CSS either get's purged or not: https://tailwindcss.com/docs/functions-and-directives#layer. CSS in the base layer won't get purged. */

@layer base {

    @font-face {
        font-family: 'Pathie';
        src: url('/resources/fonts/Pathie.woff') format('woff'),
            url('/resources/fonts/Pathie.otf') format('otf'),
            url('/resources/fonts/Pathie.ttf') format('ttf');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }


    @font-face {
        font-family: "Givonic";
        src: url('/resources/fonts/GivonicLight/font.woff2') format('woff2'), url('/resources/fonts/GivonicLight/font.woff') format('woff');
        font-weight: 300;
    }

    @font-face {
        font-family: "Givonic";
        src: url('/resources/fonts/GivonicBold/font.woff2') format('woff2'), url('/resources/fonts/GivonicBold/font.woff') format('woff');
        font-weight: 600;
    }

    @font-face {
        font-family: "Givonic";
        src: url('/resources/fonts/GivonicRegular/font.woff2') format('woff2'), url('/resources/fonts/GivonicRegular/font.woff') format('woff');
        font-weight: 400;
    }

    @font-face {
        font-family: "Givonic";
        src: url('/resources/fonts/GivonicSemiBold/font.woff2') format('woff2'), url('/resources/fonts/GivonicSemiBold/font.woff') format('woff');
        font-weight: 500;
    }



    /* .hero-image::after {
        content: "";
        position: absolute;
        background-color: black;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        mix-blend-mode: multiply;
        background-blend-mode: multiply;
        opacity: 0.3
    } */

    .rivers {
        background-image: url("/resources/svg/rivers.svg");
        background-size: cover;
        background-attachment: fixed;
    }

    html.sr .scroll-reveal {
        visibility: hidden;
    }

    /* purgecss ignore */
    .tns-ovh {
        overflow: visible !important;
    }

    .tns-controls {
        @apply font-serif text-2xl flex items-center justify-center gap-4;
    }
}

@layer components {}

@layer utilities {}
