{{#
    @name Cards
    @desc The Cards page builder block.
    @set page.page_builder.cards
#}}

<!-- /page_builder/_cards.antlers.html -->
<div class=" bg-[#328a9a]  relative overflow-hidden rivers">
    <img src="/images/dragonfly-neutral.svg" class="w-24 h-auto absolute z-20 bottom-12 right-12 bg-blend-multiply" alt="" />
{{ partial:page_builder/block }}
    <div class="span-content grid md:grid-cols-12 gap-fluid-grid-gap py-6 md:py-12 relative z-50">
        {{ block:title ?= { partial:typography/h2 :content="block:title" class="md:col-start-3 md:col-span-8 text-center text-white" } }}

        {{ block:cards }}
            <article
                class="
                scroll-reveal
                    bg-white flex flex-col overflow-hidden  items-start  border border-neutral/10 shadow-lg rounded no-underline focus:outline-none focus-visible:ring-2 ring-offset-2 ring-primary 
                    {{ switch(
                        (total_results === 1) => 'md:col-span-8 md:col-start-3',
                        (total_results === 2) => 'md:col-span-6',
                        (total_results > 2) => 'md:col-span-8 md:col-start-3 lg:col-span-4 lg:col-start-0',
                        () => void
                    )}}
                "
            >
                {{ if image }}
                    <div >
                        {{ image }}
                            <picture>
                                <img src="{{ glide:url width='640' }}" alt="{{ title }}" class="w-full h-auto aspect-[3/2] object-cover">
                            </picture>
                        {{ /image }}
                    </div>
                {{ /if }}
                <div class="mb-4 p-6">
                    {{ if button }}
                        {{ button }}
                            <a class="group" {{ partial:statamic-peak-tools::snippets/button_attributes }} aria-hidden="true" tabindex="-1">
                                {{ partial:typography/h3 class="mb-2" color="group-hover:underline" :content="title" }}
                            </a>
                        {{ /button }}
                        {{ partial:typography/h3 class="sr-only" :content="title" }}
                    {{ else }}
                        {{ partial:typography/h3 class="mb-2" :content="title" }}
                    {{ /if }}

                    {{ if text }}
                        {{ partial:typography/p class="mb-4" :content="text" }}
                    {{ /if }}
                </div>
                {{ button }}
                    {{ partial:components/button }}
                {{ /button }}
            </article>
        {{ /block:cards }}
    </div>
{{ /partial:page_builder/block }}
</div>
<!-- End: /page_builder/_cards.antlers.html -->
